.eyeCatch {
  padding: 0.6em;
}

.description {
  font-size: 1.2em;
  padding: 0.6rem;
}

.link {
  padding: 0.6rem;
}

.moment {
  max-width: 30em;
}

// Import Bulma
@import "../node_modules/bulma/bulma.sass";
